table(class="table")
    thead
        tr
            th District                 
            th Population 
    tbody
        for dp in data
            tr
                td= dp.district
                td= dp.population