table(class="table")
    thead
        tr
            th Region                 
            th Population in cities    
            th Population out of cities    
        for cp,index in data
            tr(class="rows")
                td= cp.region
                td= cp.pinc                                                   
                td= cp.poutc 
                td
                 a(href=`/edit/${JSON.stringify(data[index])}` class=`btn btn-primary` id=`edit-button`) 
                   | Edit                                                  
    br