table(class="table")
    thead
        tr
            th Country                 
            th Population in cities    
            th Population out of cities    
        for cp in data
            tr(class="rows")
                td= cp.country
                td= cp.pinc                                                   
                td= cp.poutc                                                   
    br
