table(class="table")
    thead
        tr
            th Name 
            th Country                  
            th Population  
    tbody
        tr(class="rows")
            td= city.Name 
            td= city.Country                   
            td= city.Population