extends layouts/main

block content
    div(class="d-flex justify-content-center align-items-center flex-column p-5")
        h1 404
        span Whoops, looks like the page is missing!
        img(src="/images/404.png" class="rounded p-4")