extends layouts/main

block content
    div(class="bg-dark text-secondary px-4 py-5 text-center" bis_skin_checked="1")
        div(class="py-5" bis_skin_checked="1")
            h1(class="display-5 fw-bold text-white") About CheckMate
            div(class="col-lg-6 mx-auto" bis_skin_checked="1")
                img(src="/images/logo.png" class="rounded p-4")
                p(class="fs-5 mb-4") 
                 | This group of talented programmers are tasked with creating an application 
                 | for the smooth and efficient operation of a business.
                 | We will work on the project as a Scrum team and therefore need to 
                 |adopt both design methods (user stories, use cases) and project management
                 | methods (Agile, Kanban). We will also need to become familiar with the tools 
                 |of a typical software development team (Visual Studio, Git, Docker) and 
                 |some of the difficult human and technical issues around collaborating on and 
                 |continuous improvement of online applications. Fundamentally, we aim to develop
                 | a CRUD application. A CRUD application is effectively a front-end to a database, 
                 |providing a method to create, read, update, and delete data from a web site 
                 |to a database on a server.
                p(class="fs-5 mb-4")
                 |MEMBERS: 
                p(class="fs-5 mb-4")
                 |#[a(href="https://github.com/Nero-DevOps") Taylor Head ]
                p(class="fs-5 mb-4")
                 |#[a(href="https://github.com/ZOulhadj") Zakariya Oulhadj]
                p(class="fs-5 mb-4")
                 |#[a(href="https://github.com/KezzyRk") Mohammed Kaizra ]
                p(class="fs-5 mb-4")
                 |#[a(href="https://github.com/archeris32") Samoil-Bogdan Adascalului ]