extends layouts/main

block content
    <div class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1">
        <h1 class="display-4 fw-bold">About Checkmate</h1>
        <div class="col-lg-6 mx-auto" bis_skin_checked="1">
            <p class="lead mb-4">
                | This group of talented programmers are tasked with creating an application 
                | for the smooth and efficient operation of a business.
                | We will work on the project as a Scrum team and therefore need to 
                | adopt both design methods (user stories, use cases) and project management
                | methods (Agile, Kanban). We will also need to become familiar with the tools 
                | of a typical software development team (Visual Studio, Git, Docker) and 
                | some of the difficult human and technical issues around collaborating on and 
                | continuous improvement of online applications. Fundamentally, we aim to develop
                | a CRUD application. A CRUD application is effectively a front-end to a database, 
                | providing a method to create, read, update, and delete data from a web site 
                | to a database on a server.
            </p>
        </div>
    </div>
    <div class="container px-4 py-5" id="featured-3" bis_skin_checked="1">
        <h2 class="pb-2">Group members</h2>
        <div class="row g-4 row-cols-1 row-cols-lg-4" bis_skin_checked="1">
            <div class="feature col" bis_skin_checked="1">
                <div class="d-flex justify-content-center feature-icon" bis_skin_checked="1">
                    img(class="mb-2 rounded-circle" src="/images/oulhadjz.jpg" width=200)
                </div>
                <figure>
                    <blockquote class="blockquote">
                        <h2>Zakariya Oulhadj</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        | Team Leader 1
                    </figcaption>
                </figure>
                <a href="#" class="icon-link">
                    Call to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="feature col" bis_skin_checked="1">
                <div class="d-flex justify-content-center feature-icon" bis_skin_checked="1">
                    img(class="mb-2 rounded-circle" src="/images/taylor.png" width=200)
                </div>
                <figure>
                    <blockquote class="blockquote">
                        <h2>Taylor Head</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        | Scrum Master
                    </figcaption>
                </figure>
                <a href="#" class="icon-link">
                    Call to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="feature col" bis_skin_checked="1">
                <div class="d-flex justify-content-center feature-icon" bis_skin_checked="1">
                    img(class="mb-2 rounded-circle" src="/images/kezzy.png" width=200)
                </div>
                <figure>
                    <blockquote class="blockquote">
                        <h2>Mohamed Kaizra</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        | Project Owner
                    </figcaption>
                </figure>
                <a href="#" class="icon-link">
                    Call to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="feature col" bis_skin_checked="1">
                <div class="d-flex justify-content-center feature-icon" bis_skin_checked="1">
                    img(class="mb-2 rounded-circle" src="/images/bogdan.png" width=200)
                </div>
                <figure>
                    <blockquote class="blockquote">
                        <h2>Bogdan Adascalului</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        | Team Leader 2
                    </figcaption>
                </figure>
                <a href="#" class="icon-link">
                    Call to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
        </div>
    </div>
    //- div(class="bg-dark text-secondary px-4 py-5 text-center" bis_skin_checked="1")
    //-     div(class="py-5" bis_skin_checked="1")
    //-         h1(class="display-5 fw-bold text-white") About Checkmate
    //-         div(class="col-lg-6 mx-auto" bis_skin_checked="1")
    //-             img(src="/images/logo.png" class="rounded p-4")
    //-             p(class="fs-5 mb-4") 
    //-              | This group of talented programmers are tasked with creating an application 
    //-              | for the smooth and efficient operation of a business.
    //-              | We will work on the project as a Scrum team and therefore need to 
    //-              | adopt both design methods (user stories, use cases) and project management
    //-              | methods (Agile, Kanban). We will also need to become familiar with the tools 
    //-              | of a typical software development team (Visual Studio, Git, Docker) and 
    //-              | some of the difficult human and technical issues around collaborating on and 
    //-              | continuous improvement of online applications. Fundamentally, we aim to develop
    //-              | a CRUD application. A CRUD application is effectively a front-end to a database, 
    //-              | providing a method to create, read, update, and delete data from a web site 
    //-              | to a database on a server.
    //-             p(class="fs-5 mb-4")
    //-              | MEMBERS: 
    //-             p(class="fs-5 mb-4")
    //-              | #[a(href="https://github.com/Nero-DevOps") Taylor Head ]
    //-             p(class="fs-5 mb-4")
    //-              | #[a(href="https://github.com/ZOulhadj") Zakariya Oulhadj]
    //-             p(class="fs-5 mb-4")
    //-              | #[a(href="https://github.com/KezzyRk") Mohammed Kaizra ]
    //-             p(class="fs-5 mb-4")
    //-              | #[a(href="https://github.com/archeris32") Samoil-Bogdan Adascalului ]
 
    //- div(class="bg-dark text-secondary px-4 py-5 text-center" bis_skin_checked="1")
    //-     div(class="py-5" bis_skin_checked="1")
    //-         h1(class="display-5 fw-bold text-white") Our client
    //-         div(class="col-lg-6 mx-auto" bis_skin_checked="1")
    //-             img(src="/images/Personas.png" class="rounded p-4")
    //-             p(class="fs-5 mb-4")        
    //-             | Name:  Dr Sobhan Y. Tehrani 
    //-             p(class="fs-5 mb-4")
    //-             | Gender : Male 
    //-             p(class="fs-5 mb-4")
    //-             | Profession : Software Engineer Convener at University of Roehampton
    //-             p(class="fs-5 mb-4")
    //-             | Needs and expectations:
    //-             p(class="fs-5 mb-4")
    //-             | He needs a web App to is easy to use, user-friendly and accurate, to help him develop his prediction model 
    //-             p(class="fs-5 mb-4")
    //-             | Scenario: 
    //-             p(class="fs-5 mb-4")
    //-             | Dr. Sobhan is developing a system that will be able to predict where and when the next 
    //-             | epidemy will emerge based on the population of a specific area. His model will take many things into account,
    //-             | such as, how many people live in the city, how many people live in the countryside etc.
    //-             | In order to make his job easier and faster, he needs quick access to information about population in different area of the Earth.
    //-             | He needs a Web App connected to a database so that he can show all the results to potential clients of his model and 
    //-             | also in the future he might want to link the Database to his system.
