extends layouts/main

block content
    div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
        h1(class="display-4 fw-bold") About Checkmate
        div(class="col-lg-6 mx-auto" bis_skin_checked="1")
            p(class="lead mb-4")
                | This group of talented programmers are tasked with creating an application 
                | for the smooth and efficient operation of a business.
                | We will work on the project as a Scrum team and therefore need to 
                | adopt both design methods (user stories, use cases) and project management
                | methods (Agile, Kanban). We will also need to become familiar with the tools 
                | of a typical software development team (Visual Studio, Git, Docker) and 
                | some of the difficult human and technical issues around collaborating on and 
                | continuous improvement of online applications. Fundamentally, we aim to develop
                | a CRUD application. A CRUD application is effectively a front-end to a database, 
                | providing a method to create, read, update, and delete data from a web site 
                | to a database on a server.

            ul(class="nav justify-content-center m-5")
                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="https://github.com/checkmate-group/coursework/blob/develop/CODE_OF_CONDUCT.md" target="_blank") Code of conduct
                li(class="nav-item")
                    a(class="nav-link" href="https://github.com/checkmate-group/coursework/blob/develop/documents/meetings.md" target="_blank") Meeting minutes
                li(class="nav-item")
                    a(class="nav-link" href="https://github.com/checkmate-group/coursework/blob/develop/documents/use_cases/use_case.md" target="_blank") Use case diagram
                li(class="nav-item")
                    a(class="nav-link" href="https://github.com/checkmate-group/coursework/blob/develop/documents/use_cases/user_story.md" target="_blank") User story
                li(class="nav-item")
                    a(class="nav-link disabled") GPL-3.0 License

    div(class="container px-4 py-5" id="featured-3" bis_skin_checked="1")
        h2(class="pb-2") Group members

        div(class="row g-4 row-cols-1 row-cols-lg-4" bis_skin_checked="1")
            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                    img(class="mb-2 rounded-circle" src="/images/about/zakariya.png" width=200)
                figure
                    blockquote(class="blockquote")
                        h2 Zakariya Oulhadj

                    figcaption(class="blockquote-footer")
                        | Team Leader 1

                a(href="/about/zakariya" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")

            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                    img(class="mb-2 rounded-circle" src="/images/about/taylor.png" width=200)

                figure
                    blockquote(class="blockquote")
                        h2 Taylor Head
                    
                    figcaption(class="blockquote-footer")
                        | Scrum Master
                                    
                a(href="/about/taylor" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")


            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                    img(class="mb-2 rounded-circle" src="/images/about/kezzy.png" width=200)

                figure
                    blockquote(class="blockquote")
                        h2 Mohamed Kaizra
                    
                    figcaption(class="blockquote-footer")
                        | Project Owner
                                    
                a(href="/about/kezzy" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")


            div(class="feature col" bis_skin_checked="1")
                div(class="d-flex justify-content-center feature-icon" bis_skin_checked="1")
                    img(class="mb-2 rounded-circle" src="/images/about/bogdan.png" width=200)

                figure
                    blockquote(class="blockquote")
                        h2 Bogdan Adascalului
                    
                    figcaption(class="blockquote-footer")
                        | Team Leader 2
                                    
                a(href="/about/bogdan" class="icon-link")
                    | Find out more
                    svg(class="bi" width="1em" height="1em")
                        use(xlink:href="#chevron-right")    

    div(class="container px-4 py-5" id="featured-3" bis_skin_checked="1")
        h2(class="pb-2") Our client
        div(class="text-center")
            img(class="mb-2 rounded" src="/images/about/client.png" width=200)