extends layouts/main-layout.pug
block haeder_content
    h1(class="big-title") Cities Population 

block content
    h1(class="second-title") Population in each city
    br
    table
        tr(class="table-head")
            th City                 
            th Population     
        for cp in data
            tr
                td= cp.city
                td= cp.population                                                   
    br
