extends layouts/main


block content
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <div id="faq">
    <section class="accordion-section">
        <section class="row">
            <div class="col-md-4 accordion-item">
                <h3 class="accordion-section-header">FAQ Section</h3>
                <div aria-multiselectable="true" class="panel-group" role="tablist">
                <div class="panel section">
                    <div class="panel-heading row" id="header-panel14343" role="tab">
                        <div class="col-sm-12">
                            <h4 class="panel-title"><a aria-controls="collapse-panel14343" class="faq-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#accordion1" href="#collapse-panel14343" role="button"><i class="fa fa-angle-down caret-faq">&nbsp;</i></a><a aria-controls="collapse-panel14343" class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#accordion1" href="#collapse-panel14343" role="button">How to connect </a></h4>
                        </div>
                    </div>
                    <div aria-labelledby="header-panel14343" class="panel-collapse collapse" id="collapse-panel14343" role="tabpanel" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <p></p>
                            <p>Our Web App is pretty straightforward and intuitive. </p>
                            <p> Register - Login - Use the database</p>
                        
                            <p></p>
                        </div>
                    </div>
                </div>
                </div>
                <div aria-multiselectable="true" class="panel-group" role="tablist">
                <div class="panel section">
                    <div class="panel-heading row" id="header-panel14303" role="tab">
                        <div class="col-sm-12">
                            <h4 class="panel-title"><a aria-controls="collapse-panel14303" class="collapsed faq-toggle" data-toggle="collapse" aria-expanded="false" data-parent="#accordion1" href="#collapse-panel14303" role="button"><i class="fa fa-angle-down caret-faq">&nbsp;</i></a><a aria-controls="collapse-panel14303" class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#accordion1" href="#collapse-panel14303" role="button">Where can I go to get support?</a></h4>
                        </div>
                    </div>
                    <div aria-labelledby="header-panel14303" class="panel-collapse collapse" id="collapse-panel14303" role="tabpanel">
                        <div class="panel-body sumome-article" style="position: relative;">
                            <p></p>
                            <p>Head on over to <a href="">webcorpco.com</a> for all of your support needs.</p>
                        </div>
                    </div>
                </div>
                </div>
                
            
        </section>
    </section>
    </div>