extends layouts/main

block content    
    div(class="container px-4 py-5" id="hanging-icons" bis_skin_checked="1")
        h2(class="pb-2 border-bottom") Technologies
        div(class="row g-4 py-5 row-cols-1 row-cols-lg-3" bis_skin_checked="1")
            div(class="col d-flex align-items-start" bis_skin_checked="1")
                div(bis_skin_checked="1")
                    h2 Node.js
                    p
                        | Node.js is an open-source, cross-platform, 
                        |back-end JavaScript runtime environment that runs 
                        |on the V8 engine and executes JavaScript code outside 
                        |a web browser. Node.js lets developers use JavaScript to 
                        |write command line tools and for server-side scripting—running 
                        |scripts server-side to produce dynamic web page 
                        |content before the page is sent to the user's web browser.
                    a(href="/nodeJS" class="btn btn-primary")
                        | More info
                        
                    
            div(class="col d-flex align-items-start" bis_skin_checked="1")
                div(bis_skin_checked="1")
                    h2 Docker
                    p
                        | Docker is an application build and deployment tool. 
                        |It is based on the idea of that you can package your 
                        |code with dependencies into a deployable unit called a container.
                    a(href="#" class="btn btn-primary")
                        | More info
                    
            div(class="col d-flex align-items-start" bis_skin_checked="1")
                div(bis_skin_checked="1")
                    h2 Express.js
                    p
                        | Express.js is a web framework that let's you structure a 
                        |web application to handle multiple different http requests 
                        |at a specific url. Express is a minimal, open source and
                        | flexible Node. js web app framework designed to make developing
                        | websites, web apps, and API's much easier.
                    a(href="#" class="btn btn-primary")
                        | More info

            div(class="col d-flex align-items-start" bis_skin_checked="1")
                div(bis_skin_checked="1")
                    h2 Pug
                    p
                        | Pug.js, also known as PUG, is a Javascript library 
                        |that was previously known as JADE. It is an easy-to-code 
                        |template engine used to code HTML in a more readable fashion. 
                        |One upside to PUG is that it equips developers to code reusable 
                        |HTML documents by pulling data dynamically from the API.
                    a(href="#" class="btn btn-primary")
                        | More info
                    
                    