extends layouts/main

block content
    <div class="container px-4 py-5" id="hanging-icons" bis_skin_checked="1">
        <h2 class="pb-2 border-bottom">Technologies</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" bis_skin_checked="1">
        <div class="col d-flex align-items-start" bis_skin_checked="1">
            <div bis_skin_checked="1">
            <h2>Node JS</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        <div class="col d-flex align-items-start" bis_skin_checked="1">
            <div bis_skin_checked="1">
            <h2>Pug</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        <div class="col d-flex align-items-start" bis_skin_checked="1">
            <div bis_skin_checked="1">
            <h2>Express</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        <div class="col d-flex align-items-start" bis_skin_checked="1">
            <div bis_skin_checked="1">
            <h2>Docker</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary">
                Primary button
            </a>
            </div>
        </div>
        </div>
    </div>