extends layouts/main

block content
    div(class="d-flex justify-content-center align-items-center flex-column")
        video(class="w-100" autoplay muted loop)
            source(src="/images/earth.mp4" type="video/mp4")

        div(class="position-absolute text-center")
            h1(class="display-1 text-white landing-title") Database Viewer
            p(class="text-white fs-5 mb-4")
                | This is the Checkmate group database viewer.
                | The site make use of multiple technologies that display
                | database data onto the site.

            a(class="btn btn-outline-light btn-lg px-4" href="/login" role="button")
                    | Dashboard