extends layouts/main-layout.pug
block haeder_content
    h1(class="big-title") Population Languages

block content
    h1(class="second-title") Population Languages
    br
    table
        tr(class="table-head")
            th Language                 
            th Population     
            th Percentage %     
        for l in data
            tr
                td(id="language" data-value=l.language)= l.language 
                td(id="population" data-value=l.population)= l.population                                                  
                td(id="percentage")                                                  
    br