extends layouts/main
block content
  div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
        h1(class="display-4 fw-bold") Video Tutorials
        h5 This is the Checkmate group database viewer. The site make use of multiple technologies that display databse data onto the site.
        p This is the Checkmate group database viewer. The site make use of multiple technologies that display databse data onto the site.
        p This is the Checkmate group database viewer. The site make use of multiple technologies that display databse data onto the site.
  div(class='row mx-auto d-flex justify-content-center')
      div(class='col-sm-3')
        div(class='card')
          div(class='card-body')
           div(class='embed-responsive embed-responsive-21by9')
            iframe(class='embed-responsive-item', src='https://www.youtube.com/embed/zLm43StooRI', allowfullscreen='' width="100%")
            br
            a.btn.btn-primary(href='https://www.youtube.com/embed/zLm43StooRI' class='d-flex justify-content-center' target="_blank" rel="noopener noreferrer") Go To Link
      div(class='col-sm-3')
        div(class='card')
          div(class='card-body')
            div(class='embed-responsive embed-responsive-21by9')
            iframe(class='embed-responsive-item', src='https://www.youtube.com/embed/ngrL_xOcOQo', allowfullscreen='' width="100%")
            br
            a.btn.btn-primary(href='https://www.youtube.com/embed/ngrL_xOcOQo' class='d-flex justify-content-center' target="_blank" rel="noopener noreferrer") Go To Link
      div(class='col-sm-3')
        div(class='card')
          div(class='card-body')
            div(class='embed-responsive embed-responsive-21by9')
            iframe(class='embed-responsive-item', src='https://www.youtube.com/embed/ZbhiL_5hf_Q', allowfullscreen='' width="100%")
            br
            a.btn.btn-primary(href='https://www.youtube.com/embed/ZbhiL_5hf_Q' class='d-flex justify-content-center' target="_blank" rel="noopener noreferrer") Go To Link