extends layouts/main

block content
    div(class="container")
        h1(class="p-2") Database Viewer

        form(class="mb-5")
            div(class="d-flex")
                select(class="form-select m-2" id="view-select" aria-label="Database views")
                    each val, index in reports 
                        option(value=index selected=(name == val.page))= val.title
                        
            div(class="d-flex justify-content-center")
                input(type='number' name='quantity' id='quantity' class="form-control m-2" placeholder="Select Number Of Rows")
    
            div(class="d-flex justify-content-center border-bottom")
                a(class="btn btn-primary m-2 w-25" id="view-table-button" href="#" role="button") View Report

            div(class="d-flex justify-content-center")
            
                select(class="form-select m-2" id="view-select-database" aria-label="Database views")
                    option(value="0") City
                    option(value="1") Country


                a(class="btn btn-primary m-2 w-25" id="add-table-button" href="#" role="button") Add New Data In Report
        div(class="" id="table")            
            if name == "world_population"
                include layouts/tables/world_population
            else if name == "region_population"
                include layouts/tables/region_population
            else if name == "population_languages"
                include layouts/tables/population_languages
            else if name == "district_population"
                include layouts/tables/district_population
            else if name == "country_population"
                include layouts/tables/country_population
            else if name == "continent_population"
                include layouts/tables/continent_population
            else if name == "city_population"
                include layouts/tables/city_population
            else if name == "world_countries_by_population"
                include layouts/tables/world_countries_by_population
            else if name == "world_countries_by_population_in_region"
                include layouts/tables/world_countries_by_population_in_region
            else if name == "world_countries_by_population_in_continent"
                include layouts/tables/world_countries_by_population_in_continent
            else if name == "world_cities_by_population"
                include layouts/tables/world_cities_by_population
            else if name == "world_cities_by_population_in_region"
                include layouts/tables/world_cities_by_population_in_region
            else if name == "world_cities_by_population_in_district"
                include layouts/tables/world_cities_by_population_in_district
            else if name == "world_cities_by_population_in_country"
                include layouts/tables/world_cities_by_population_in_country
            else if name == "world_cities_by_population_in_continent"
                include layouts/tables/world_cities_by_population_in_continent
            else if name == "world_capital_cities_by_population"
                include layouts/tables/world_capital_cities_by_population
            else if name == "world_capital_cities_by_population_in_region"
                include layouts/tables/world_capital_cities_by_population_in_region
            else if name == "world_capital_cities_by_population_in_continent"
                include layouts/tables/world_capital_cities_by_population_in_continent
            else if name == "population_in_out_cities_by_continent"
                include layouts/tables/population_in_out_cities_by_continent
            else if name == "population_in_out_cities_by_country"
                include layouts/tables/population_in_out_cities_by_country
            else if name == "population_in_out_cities_by_region"
                include layouts/tables/population_in_out_cities_by_region
            else if name =='world_cities_by_population_in_country'
                include layouts/tables/world_cities_by_population_in_country

block scripts 
    script(src="/js/view_table.js")