extends layouts/main-layout.pug
block haeder_content
    h1(class="big-title") World Population 
        br
        for d in data
            //- span +
            span(class="population")= d.population
