extends layouts/main-layout.pug
block content
    div(class="flex align-center justify-space-between")
        div(class="title")
            h1(class="second-title") All Capital Cities In The World Ordered By Population
        div(id="searchtool")
            div(class="drop-down-container")
                div(class="search-setting" data-action="menu")
                    a
                        li search
                            i(class="fas fa-search")
                div(class="search-drop-down hidden" data-option="capitals")
                    div(class="flex flex-dir-col")
                        div(class="input-block")
                            input(type="number" class="input" id="number" data-value="nbre_capitales" min="0" max="10000" placeholder="number of capital cities")
                        div(class="input-block")
                            input(id="searchBtn" type="button" class="button" value="search")
    br
    table
        tr(class="table-head")
            th Name 
            th Country                  
            th Population    
        for city in data
            tr(class="rows")
                td= city.Name 
                td= city.Country                   
                td= city.Population                                  
    br