@import url('reuse-classes.css');
@import url('responsive-design.css');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    font-family: 'roboto';
    overflow-x: hidden;
    background-color: rgb(228, 228, 228);
}

:root
{
    /* --main-color:#be003f;
    --main-color-dark:#ad0051;
    --main-color-opaque:#c9005e63;
    --second-color:#ac0048;
    
    --gradient-level-1:rgb(175, 0, 87);
    --gradient-level-2:rgb(182, 0, 106);
    --gradient-level-3:rgb(248, 1, 137); */

    /* --main-color:#8200be;
    --main-color-dark:#6d00ad;
    --main-color-opaque:#a700c963;
    --second-color:#6d00ac; */
    
    /* --gradient-level-1:rgb(169, 0, 175);
    --gradient-level-2:rgb(124, 0, 182);
    --gradient-level-3:rgb(129, 1, 248); */
    
    --main-color:#26be00;
    --main-color-dark:#37ad00;
    --main-color-opaque:#28c90063;
    --second-color:#22ac00;

    --gradient-level-1:rgb(48, 206, 0);
    --gradient-level-2:rgb(8, 163, 3);
    --gradient-level-3:rgb(107, 189, 1);
}

#app
{
    height: 100vh;
    overflow: auto;
}

#main
{
    position: relative;
    background-color: #fff;
}

header
{
    height: 600px;
    padding-top: 100px;
    background:linear-gradient(to left,var(--gradient-level-1),var(--gradient-level-2),var(--gradient-level-3));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer
{
    top: 100%;
    padding: 1rem 0;
    color: #fff;
    background:linear-gradient(to left,var(--gradient-level-1),var(--gradient-level-2),var(--gradient-level-3));
}

nav
{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.452);
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
    user-select: none;
}

.links a
{
    color: black;
    margin: 0 1.5rem;
}

table
{
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
}

table,td,th
{
    /* border: 1px solid black; */
    border-collapse: collapse;
}

td,th
{
    text-align: left;
    word-wrap: break-word;
    text-overflow:ellipsis;
    font-size: 13px;
    padding: 0.7rem;
    /* padding: 0.5rem; */
}

th
{
    font-size: 15px;
    height: 50px;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

table tr:nth-child(2n+0)
{
    background-color: #ffffff;
}
table tr:nth-child(2n+1)
{
    background-color: rgb(238, 238, 238);
}

.table-head
{
    background-color: var(--main-color) !important;
}

.drop-down-container
{
    position: relative;
}

.drop-down,.search-drop-down
{
    position: absolute;
    margin: 0 .8rem;
    width: 250px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.322); */
    /* backdrop-filter: blur(10px); */
    color: var(--main-color) ;
    border-radius: 0.5rem;
    top: 90px;
    left: 0;
    height: 480px;
    opacity: 0;
    transform: translateY(-80px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1 !important;
}

/* .arrow-top
{
    position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    transform-origin: center;
    z-index: 9999;
    transform: translateY(-38px) rotateZ(315deg);
    clip-path: polygon(0% 100%,100% 100%,0 0);
} */

.drop-down a
{
    padding: 1rem;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.37); */
    /* color: white; */
    border-bottom: 1px solid var(--main-color-opaque);
    color: var(--main-color-dark) ;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link li
{
    margin: 0 .6rem;
    font-size: 14px;
    cursor: pointer;
    padding: 0.8rem 1rem;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    z-index: 9999;
    /* background-color: #009b5a; */
    color: var(--main-color-dark) !important;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-setting
{
    position: relative;
    background-color: var(--main-color) ;
    color: #f2f2f2;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#searchtool .drop-down-container .search-drop-down
{
    z-index: 999 !important;
    height: 0;
    top: 50px;
    padding: 0.8rem;
    transform: translateX(-180px) translateY(200px);
}

.input-block
{
    width: 100%;
    margin: 0.25rem 0;
}

.input
{
    color: var(--main-color) ;
    border:1px solid var(--main-color) ;
    outline: none;
    padding: 0.6rem;
    border-radius: 0.25rem;
    font-size: 15px;
    width: 100%;
}

.button
{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.25rem;
    background-color: var(--main-color) ;
    color: #f2f2f2;
}

.link li:hover,.drop-down a:hover
{
    background-color: var(--main-color-dark) ;
    color: #fff !important;
}

.big-title
{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.population
{
    position: relative;
    font-size:50px;
    color: var(--main-color) ;
    background-color: #fafafa;
    padding: 0.1rem 0.8rem;
    border-radius: 2rem 0.2rem 2rem;
}

/* .second-title
{
    position: absolute;
    top: -120px;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.295);
    padding: 2.5rem 0;
    width: 100%;
} */

.table-head-title
{
    color: #ffffff;
    background-color:var(--main-color) ;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 0.25rem;
}