.container
{
    max-width: 1000px;
    margin: 0 auto;
}

.flex
{
    display: flex;
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-dir-col
{
    flex-direction: column;
}

.align-center
{
    align-items: center;
}

.justify-center
{
    justify-content: center;
}

.justify-space-between
{
    justify-content: space-between;
}

.justify-space-around
{
    justify-content: space-around;
}

.justify-end
{
    justify-content: right;
}

/**********************************/

.pd-t-b-5
{
    padding: 5rem 0;
}

.hidden
{
    display: none !important;
}

.fadein
{
    opacity: 1 !important;
    transform: translateY(0) !important;
    height: 480px !important;
}

.opaque
{
    opacity: 1 !important;
}

.fadebottom
{
    opacity: 1 !important;
    transform: translateX(-180px) translateY(0) !important;
    height: 200px !important;
}