extends /layouts/about_profile

block name 
    | Bogdan Adascalului

block text 

    |I am a gaming enthusiast and i've been playing World of Warcraft for the last 10 years(if you see a Troll Hunter named Archer,RUN!!).
    p
    |As of 2020, I am a student of University of Roehampton in Computer Science, developing my skills in various coding languages like C/C++/C#/Python/JavaScript/HTML .By doing this I fullfield a life long dream of mine(being able to write and understand coding).
    |With a lot of support and a lot of time spent in front of my computer(as you can see in my profile picture), 
    |i managed to get to a level, where i am confident in taking on projects  like working with another 3 students to build a Web App.
    p
    |As a member of Checkmate,  I  am in charge of the team that handles the front-end of our application.My job is to test the website for usability, develop client-side of the application with HTML, CSS ,JavaScript 
    | and ensure browser compatibility.