extends /layouts/about_profile

block name 
    | Bogdan Adascalului

block text 
    div(class="mb-5")
    |I am a gaming enthusiast and i've been playing World of Warcraft for the last 10 years(if you see a Troll Hunter named Archer,RUN!!).
    p
    |As of 2020, I am a student of University of Roehampton in Computer Science, developing my skills in various coding languages like C/C++/C#/Python/JavaScript/HTML .By doing this I fullfield a life long dream of mine(being able to write and understand coding).
    |With a lot of support and a lot of time spent in front of my computer(as you can see in my profile picture), 
    |i managed to get to a level, where i am confident in taking on projects  like working with another 3 students to build a Web App.
    p
    |As a member of Checkmate,  I  am in charge of the team that handles the front-end of our application.My job is to test the website for usability, develop client-side of the application with HTML, CSS ,JavaScript 
    | and ensure browser compatibility.
    <div class="marketing" bis_skin_checked="1">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
            <h2 class="featurette-heading">Homepage</h2>
            <p class="lead">
                | One of the things i worked on is the improvement of the front page .
            </p>
        </div>
        <div class="col-md-5 text-center" bis_skin_checked="1">
            img(src="/images/new_home.png" width="300" alt="")
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7 order-md-2" bis_skin_checked="1">
            <h2 class="featurette-heading">Contact form</h2>
            <p class="lead">
                | Another thing i worked on is the Contact Us section.
                | Simple in design, but effective. This page helps us as programmers to get in touch with 
                | current and future customers. Every message is redirect to our emails by FormSubmit.io
                
            </p>
        </div>
        <div class="col-md-5 order-md-1 text-center" bis_skin_checked="1">
            img(src="/images/contact_form.png" width="300" alt="")

        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
            <h2 class="featurette-heading">FAQ</h2>
            <p class="lead">
                | Finally I've worked on the FAQ section that is answering the most common questions a user might have 
                | about our web app, Database Viewer.
            </p>
        </div>
        <div class="col-md-5 text-center" bis_skin_checked="1">
            img(src="/images/faq.png" width="300" alt="")

        </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>  
