extends /layouts/about_profile

block name 
    | Bogdan Adascalului

block text 
    |I am a gaming enthusiast and i've been playing World of Warcraft for the last 10 years.
    | 
    |As a member of Checmate,  I  am in charge of the team that handles the front-end of our application.My job is to test the website for usability, develop client-side of the application with HTML, CSS ,JavaScript 
    | and ensure browser compatibility.