extends /layouts/about_profile

block name 
    | CLIENT
    p
    |Dr Sobhan Yassipour Tehrani
   
block text 
    div(class="mb-5 text-center")
        |Ocupation : Bussines developer 
        p
        |Location : London/Roehampton University
    div(class="mb-5")
    |Our client is developing a bussines that will provide access to a database with different information regarding the world population
    p
    |in an easy to use, friendly manner by developing a platform which they will be able to use to subsequently increase their productivity and provide many other potential benefits.
    p
    h1(class="mb-5 text-center")
        |REQUIREMENTS
    div(class="mb-5")
    |As per our client’s requirements, our application needs to use certain technologies and methodologies for the web application to be fully integrated with its systems. The list of requirements is as follows:
    p 
    |-Front-end must use the Pug framework
    p 
    |-Back-end must use the Node.js framework
    p 
    |-Front and back-ends must communicate via Express.js
    p 
    |-Application must use a database for storing population information
    p 
    |-Application must use a VCS (Version Control System)
    p 
    |-Project needs to be deployed as a Docker container

    