extends /layouts/about_profile

block name 
    | Taylor Head

block text 
    div(class="mb-5")
    |Taylor prides himself on his methodical, logical, and process-driven approach to anything thats put in front of him, whether that be managing a team or refining processes to fit business needs.
    p
    |Throughout the end of 2019 and beginning of 2020, Taylor indulged his passion for cars and property, while taking the opportunity to chill out and see more of the world..
    |COVID-19 has currently put a brief pause to this, so taylor has started to use his time and energy to invest in new companies and projects to help other people achieve their own career success. 
    |In October 2019, Taylor grew tired of the 12-14 hour working days and departed Genuine Solutions to discover new opportunities..
    p
    |As a Scrum Master, I am accountable for the team's effectiveness, coaching, and managing cross-functionality. My role was to develop the base for the project that the team could build off. 
    | This included the front and back end, which helped the team gain a faster understanding and helped develop the work quickly due to building off a base framework.
    <div class="marketing" bis_skin_checked="1">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
            <h2 class="featurette-heading">Backend</h2>
            <p class="lead">
                | One of the things i worked on was building the whole backend.
            </p>
        </div>
        <div class="col-md-5 text-center" bis_skin_checked="1">
            img(src="/images/backend2.png" width="300" alt="")
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7 order-md-2" bis_skin_checked="1">
            <h2 class="featurette-heading">Log-in</h2>
            <p class="lead">
                | Another thing i worked on is the Log-in section.
                | The login feature was hard to implement due to having many connections to the app.js and the database. 
                | We now have a very secure site with the login feature that we can lock the reports behind and stop the public from viewing them.
                
            </p>
        </div>
        <div class="col-md-5 order-md-1 text-center" bis_skin_checked="1">
            img(src="/images/login.png" width="300" alt="")

        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" bis_skin_checked="1">
        <div class="col-md-7" bis_skin_checked="1">
            <h2 class="featurette-heading">Reports</h2>
            <p class="lead">
                | Finally, I've done all the reports section that pull data from the database and 
                | outputs it to the frontend.
            </p>
        </div>
        <div class="col-md-5 text-center" bis_skin_checked="1">
            img(src="/images/report.png" width="300" alt="")

        </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>  
