extends /layouts/about_profile

block name 
    | Zakariya Oulhadj

block text 
    | I am the team leader for the Checkmate group. I am responsible for ensuring that the group 
    | works together effecively from start to finish in order to meet the clients requirements.