extends /layouts/about_profile

block name 
    | Zakariya Oulhadj

block text 
    div(class="mb-5")
        | As the team leader for the Checkmate group, I am responsible for ensuring that the group 
        | works together effectively from start to finish in order to meet the clients requirements for 
        | each sprint. In addition to this I also personally work on the project and as of now have worked 
        | on the user interface, database backed and presentations.

    div(class="marketing" bis_skin_checked="1")
        hr(class="featurette-divider")

        div(class="row featurette" bis_skin_checked="1")
            div(class="col-md-7" bis_skin_checked="1")
                h2(class="featurette-heading") User interface
                p(class="lead")
                    | I've worked on the front-end of the website including this about section.
            div(class="col-md-5 text-center" bis_skin_checked="1")
                img(src="/images/user_interface.png" width="300" alt="")

            hr(class="featurette-divider")

            div(class="row featurette" bis_skin_checked="1")
                div(class="col-md-7 order-md-2" bis_skin_checked="1")
                    h2(class="featurette-heading") Travis CI
                    p(class="lead")
                        | For sprint 3 I worked on integrating the source code with Travis CI. This
                        | has allowed us to make sure that all aspects of the code are working as expected.
                        | This is possible due to the fact that after every commit Travis runs our unit tests 
                        | using Jest.

                div(class="col-md-5 order-md-1 text-center" bis_skin_checked="1")
                    img(src="/images/travis_ci.png" width="300" alt="")


            hr(class="featurette-divider")

            div(class="row featurette" bis_skin_checked="1")
                div(class="col-md-7" bis_skin_checked="1")
                    h2(class="featurette-heading") Node/Express.JS
                    p(class="lead")
                        | Finally I've worked on the back-end of the site by implementing routes and designing the core 
                        | database viewer.
                div(class="col-md-5 text-center" bis_skin_checked="1")
                    img(src="/images/backend.png" width="300" alt="")

                hr(class="featurette-divider")