extends ../layouts/main
block content
    div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
            h1(class="display-4 fw-bold") Docker
            
            p Docker was used to allowing the project a fast deployment, getting it all hosted 
            p within a cluster of containers and allowing us to have easy migrations for when we 
            p deliver this to the client. Security is always our main goal, and with docker, everything 
            p is running within a container which is hard to open from the outside once set up correctly.
            div(class="module")
                div(class="top")
                    ul
                        <li><a href="#img_1"><img src="/images/Docker1.png"></a></li>
                        <li><a href="#img_2"><img src="/images/Docker2.png"></a></li>
                        <li><a href="#img_3"><img src="/images/Docker3.png"></a></li>
                        
                    
                    <a href="#_1" class="lightbox trans" id="img_1"><img src="/images/Docker1.png"></a>
                    <a href="#_2" class="lightbox trans" id="img_2"><img src="/images/Docker2.png"></a>
                    <a href="#_3" class="lightbox trans" id="img_3"><img src="/images/Docker3.png"></a>