extends ../layouts/main
block content
    div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
            h1(class="display-4 fw-bold") Express JS
            
            p Express.js has been used to connect the front and backend of the project; 
            p we used this as within the industry Express.js is a leading technology for backend development 
            p with its easy Library which is very large and helped the project a lot as well as being server ready.
            <div class="container  center">
                <div class="top">
                    <ul>
                        <li><a href="#img_1"><img src="/images/expressjs1.png"></a></li>
                        <li><a href="#img_2"><img src="/images/expressjs2.png"></a></li>
                        <li><a href="#img_3"><img src="/images/expressjs3.png"></a></li>
                        
                    </ul>
                    <a href="#_1" class="lightbox trans" id="img_1"><img src="/images/expressjs1.png"></a>
                    <a href="#_2" class="lightbox trans" id="img_2"><img src="/images/expressjs2.png"></a>
                    <a href="#_3" class="lightbox trans" id="img_3"><img src="/images/expressjs3.png"></a>
                    
                </div>
            </div>