extends ../layouts/main
block content
    
    <html>
    
    <head>
        <title>Lightbox Gallery</title>
    </head>
    
    <body>
        <h2>GeeksforGeeks</h2>
        <b>A Computer Science Portal for Geeks</b>
        <div class="gallery">
            <a href="https://media.geeksforgeeks.org/wp-content/uploads/20200318142254/html9.png"> <img src="https://media.geeksforgeeks.org/wp-content/uploads/20200318143104/html10.png"></a>
            <a href="https://media.geeksforgeeks.org/wp-content/uploads/20200318142245/CSS8.png"><img src="https://media.geeksforgeeks.org/wp-content/uploads/20200318143101/CSS9.png"></a>
            
        </div>
    </body>
    
    </html>
