extends ../layouts/main
block content
    div(class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1")
            h1(class="display-4 fw-bold") PUG( Jade )
            
            p Pug was used for the front end of the project over HTML; 
            p due to a few factors, we found that PUG is very simple for the client to understand and has simplified syntax, allowing the code to be more readable. 
            p Pug already has a template engine for Node, which could be very easy for the client to expand.
            <div class="module">
                <div class="top">
                    <ul>
                        <li><a href="#img_1"><img src="/images/PUG1.png"></a></li>
                        <li><a href="#img_2"><img src="/images/pug2.png"></a></li>
                        <li><a href="#img_3"><img src="/images/pug3.png"></a></li>
                        
                    </ul>
                    <a href="#_1" class="lightbox trans" id="img_1"><img src="/images/PUG1.png"></a>
                    <a href="#_2" class="lightbox trans" id="img_2"><img src="/images/pug2.png"></a>
                    <a href="#_3" class="lightbox trans" id="img_3"><img src="/images/pug3.png"></a>
                    
                </div>
            </div>