extends /layouts/main

block content
    div(class="container-sm p-5")
        div(class="text-center pb-4")
            img(class="mb-2 rounded-circle" src=`/images/about/${name}.png` width=200)
            h1
                block name

        block text