nav(class="navbar navbar-expand-lg navbar-light bg-light")
    div(class="container-fluid")
        a(class="navbar-brand" href="#") Database Viewer
    
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")

            ul(class="navbar-nav me-auto mb-2 mb-lg-0")

                li(class="nav-item")
                    a(class="nav-link active" aria-current="page" href="/") Home

                //- li(class="nav-item dropdown")
                //-     a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Countries
                
                //-     ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                //-         li
                //-             a(class="dropdown-item" href="/world_countries_by_population") Country - ordered by population
                //-         li
                //-             a(class="dropdown-item" href="/world_countries_by_population_in_continent") Continent - ordered by population
                //-         li
                //-             a(class="dropdown-item" href="/world_countries_by_population_in_region") Region - ordered by population

            form(class="d-flex")
                input(class="form-control me-2" type="search" placeholder="Search" aria-label="Search")
                button(class="btn btn-outline-success" type="submit") Search






        //- div(id="app")
        //-     header 
        //-         div(class="container")
        //-         nav(id="toolBar" class="flex align-center justify-space-around")
        //-             div(class="links flex-center")
        //-                 div(class="link" data-action="home")
        //-                     a(href="/")
        //-                         li Home
        //-                 div(class="drop-down-container")
        //-                     div(class="link" data-action="menu")
        //-                         a
        //-                             li Countries 
        //-                     div(class="drop-down hidden" data-option="countries")
        //-                         div(class="flex flex-dir-col")
        //-                             a(href="/world_countries_by_population")
        //-                                 li Ordered by population
        //-                             a(href="/world_countries_by_population_in_continent")
        //-                                 li Continent - ordered by population
        //-                             a(href="/world_countries_by_population_in_region")
        //-                                 li Region - ordered by population

        //-                 div(class="drop-down-container")
        //-                     div(class="link" data-action="menu")
        //-                         a
        //-                             li Cities 
        //-                     div(class="drop-down hidden" data-option="cities")
        //-                         //- div(class="arrow-top")
        //-                         div(class="flex flex-dir-col")
        //-                             a(href="/world_cities_by_population")
        //-                                 li Ordered by population
        //-                             a(href="/world_cities_by_population_in_continent")
        //-                                 li Continent - ordered by population
        //-                             a(href="/world_cities_by_population_in_region")
        //-                                 li Region - ordered by population
        //-                             a(href="/world_cities_by_population_in_country")
        //-                                 li Country - ordered by population
        //-                             a(href="/world_cities_by_population_in_district")
        //-                                 li District - ordered by population
        //-                 div(class="drop-down-container")
        //-                     div(class="link" data-action="menu")
        //-                         a
        //-                             li Capital Cities 
        //-                     div(class="drop-down hidden" data-option="capital-cities")
        //-                         div(class="flex flex-dir-col")
        //-                             a(href="/world_capital_cities_by_population")
        //-                                 li Ordered by population
        //-                             a(href="/world_capital_cities_by_population_in_continant")
        //-                                 li Continent - ordered by population
        //-                             a(href="/world_capital_cities_by_population_in_region")
        //-                                 li Region - ordered by population
        //-                 div(class="drop-down-container")
        //-                     div(class="link" data-action="menu")
        //-                         a
        //-                             li Population Informations 
        //-                     div(class="drop-down hidden" data-option="capital-cities")
        //-                         div(class="flex flex-dir-col")
        //-                             a(href="/world_population")
        //-                                 li Population of the world
        //-                             a(href="/continent_population")
        //-                                 li Population of a continent
        //-                             a(href="/region_population")
        //-                                 li Population of a region
        //-                             a(href="/country_population")
        //-                                 li Population of a country
        //-                             a(href="/district_population")
        //-                                 li Population of a district
        //-                             a(href="/city_population")
        //-                                 li Population of a city
        //-                             a(href="/population_languages")
        //-                                 li Population Languages
        //-                 //- div(class="drop-down-container")
        //-                 //-     div(class="link" data-action="menu")
        //-                 //-         a
        //-                 //-             li People Languages 
        //-                 //-     div(class="drop-down hidden" data-option="capital-cities")
        //-                 //-         div(class="flex flex-dir-col")
        //-                 //-             a(href="/population_languages")
        //-                 //-                 li Population Languages
        //-                             //- a(href="/continent_population")
        //-                             //-     li English
        //-                             //- a(href="/region_population")
        //-                             //-     li Hindi
        //-                             //- a(href="/country_population")
        //-                             //-     li Spanish
        //-                             //- a(href="/district_population")
        //-                             //-     li Arabic
        //-         div(class="container")
        //-             block haeder_content